@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

body{
  font-family: "Open Sans", sans-serif;

}

.section-width{
  width: 1250px;
  margin: 0 auto;
}

.first-section{
  background-color: #FFFFFF;
  /* height: 200px; */
}

nav{
  /* border: 2px solid red; */
  padding: 10px 0;
}

.nav-parent{
  /* border: 2px solid red; */
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.nav-child:nth-child(1) img{
  /* border: 2px solid green; */
  width: 80px;
}

.nav-child:nth-child(2){
  /* border: 2px solid blue; */
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-child:nth-child(2) a{
  text-decoration: none;
  color: #010101;
  font-size: 14px;
}

.nav-links{
  position: relative;
}

.arrow1{
  position: absolute;
  left: 60px;
}

.arrow2{
  position: absolute;
  left: 80px;
}

.arrow3{
  position: absolute;
  left: 63px;
}

.arrow4{
  position: absolute;
  left: 43px;
}

.arrow5{
  position: absolute;
  left: 50px;
}

.arrow6{
  position: absolute;
  left: 73px;
}

.dropdown{
  display: none;
}

.nav-links:hover .dropdown{
  display: block;
}

.dropdown{
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  border: 2px solid #f4f4f4;
  background-color: #f4f4f4;
  color: #010101;
  width: 200px;
  height: 120px;
  padding: 5px 10px;
}

.parent-ul li:nth-child(1) a{
  /* border: 2px solid red; */
  padding-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
}

.who-we-are-arrow{
  position: absolute;
  left: 150px;
}

.dropdown>ul{
  list-style: none;
}

.dropdown li ul{
  display: none;
  list-style: none;
}

.dropdown li:hover > ul{
  display: block;
}

.child-ul{
  border: 2px solid #f4f4f4;
  background-color: #f4f4f4;
  position: absolute;
  left: 202px;
  top: 10px;
  width: 200px;
  height: 120px;
}

.nav-child:nth-child(3) a{
  border: 2px solid #0087DB;
  background-color: #0087DB;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 30px;
  font-size: 14px;
  text-align: center;
  padding: 12px 35px 12px 25px;
  /* padding: 12px 30px; */
  display: inline-block;
  line-height: 1;
  position: relative;
}

.nav-child:nth-child(3) span{
  /* border: 2px solid black; */
  width: 80px;
  display: inline-block;
}

.nav-icon{
  color: #ffffff;
  font-size: 18px;
  /* margin-left: -10px; */
  /* margin-top: -90px; */
  position: absolute;
  /* left: 0; */
  right: 20px;
  top: 17px;
}








































.image-section{
  background-image: url(./images/woman.png);
  min-height: 730px;
  background-position: center;
  background-size: cover;
}

.text-section{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial sans-serif; 
  color: #FFFFFF;
  padding-top: 400px;
}

.text-section h2{
  /* border: 2px solid red; */
  font-size: 40px;
  font-weight: 600;
}

.text-section p{
  /* border: 2px solid blue; */
  padding: 20px 0;
  font-size: 16px;
  line-height: 1.5;
}

.text-section a{
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: none;
  border: 2px solid #0087DB;
  background-color: #0087DB;
  border-radius: 30px;
  padding: 10px 35px 10px 20px;
  position: relative;
  margin: 20px 0;
  display: inline-block;
}

.apply-arrow{
  /* color: yellow; */
  position: absolute;
  top: 15px;
  font-size: 15px;
}


.second-section{
  background-image: url(./images/background.jpg);
  min-height: 500px;
  margin-top: 25px;
  /* border: 2px solid red; */
}

.section2-flexparent{
  /* border: 2px solid purple; */
  display: flex;
  padding-top: 80px;
  gap: 50px;
  line-height: 150%;
}

.section2-flexchild:nth-child(1) {
  /* border: 2px solid purple; */
  width: 27%;
}

.section2-flexchild:nth-child(1) p{
  /* border: 2px solid pink; */
  color: #EEEEEE;
  font-size: 16px;
  line-height: 150%;
  margin-top: -8px;
}

.first-column-link a{
  border: 2px solid #EEEEEE;
  background-color: #EEEEEE;
  display: inline-block;
  text-decoration: none;
  margin: 40px 0;
  border-radius: 25px;
  padding: 7px 40px 7px 25px;
  color: #1f497d;
  position: relative;
}

.community-arrow{
  /* color: purple; */
  position: absolute;
  top: 11px;
  color: #1f497d;
  font-size: 20px;
}

.section2-flexchild:nth-child(2){
  /* border: 2px solid green; */
  width: 20%;
}

.second-column-top span{
  font-size: 60px;
  font-weight: 700;
  color: #EEEEEE;
}

.second-column-top p{
  /* border: 2px solid yellow; */
  font-size: 16px;
  color: #EEEEEE;
  padding: 30px 0;
}

.second-column-bottom{
  /* border: 2px solid blue; */
  /* The space between the two of them */
  margin: 50px 0; 
}

.second-column-bottom span{
  font-size: 60px;
  font-weight: 700;
  color: #EEEEEE;
}

.second-column-bottom p{
  font-size: 16px;
  color: #EEEEEE;
  padding: 30px 0;
}

.section2-flexchild:nth-child(3){
  /* border: 2px solid orange; */
  width: 19%;
}

.third-column-top span{
  font-size: 60px;
  font-weight: 700;
  color: #EEEEEE;
}

.third-column-top p{
  /* border: 2px solid yellow; */
  font-size: 16px;
  color: #EEEEEE;
  padding: 30px 0;
  
}

.third-column-bottom{
  /* border: 2px solid blue; */
  /* The space between the two of them */
  margin: 50px 0; 
}

.third-column-bottom span{
  font-size: 60px;
  font-weight: 700;
  color: #EEEEEE;
}

.third-column-bottom p{
  font-size: 16px;
  color: #EEEEEE;
  padding: 30px 0;
}

.section2-flexchild:nth-child(4){
  /* border: 2px solid grey; */
  width: 20%;
}

.fourth-column-top span{
  font-size: 60px;
  font-weight: 700;
  color: #EEEEEE;
}

.fourth-column-top p{
  /* border: 2px solid yellow; */
  font-size: 16px;
  color: #EEEEEE;
  padding: 30px 0;
}

.third-section{
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
}

.flex-parent1{
  /* border: 2px solid red; */
  display: flex;
  margin-top: 20px; 
  margin-bottom: 80px;
  gap: 50px;
  justify-content: center;
}

.flex-child1:nth-child(1){
  width: 30%;
}

.flex-child1:nth-child(1) a{
  border: 2px solid #177fcd;
  display: inline-block;
  background-color: #177fcd;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 20px;
  text-align: center;
}


.flex-parent2{
  /* border: 2px solid brown; */
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.flex-child2:nth-child(1){
  /* border: 2px solid purple; */
  position: relative;
}

.flex-child2:nth-child(1) h2{
  font-size: 44px;
  font-weight: 700;
}

.inner-child{
  position: absolute;
  border: 2px solid #C0E7FF;
  background-color: #C0E7FF;
  top: -20px;
  border-radius: 40px;
  color: #0087db;
  font-size: 14px;
  font-weight: 500;
  padding: 1px 20px;
}

.flex-child2:nth-child(2) a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  border: 2px solid #0087DB;
  background-color: #0087DB;
  border-radius: 30px;
  padding: 11px 43px 11px 26px;
  margin-right: 70px;
  position: relative;
}

.tribe-arrow{
  /* color: yellow; */
  position: absolute;
  bottom: 13px;
  right: 23px;
}

.flex-child2:nth-child(2) a:hover{
  background-color: #FFFFFF;
  color: #0087DB;
  
}

.flex-parent3{
  /* border: 2px solid red; */
  display: flex;
  gap: 20px;
}

.flex-child3:nth-child(1){
  border: 2px solid #0087DB;
  background-color: #0087DB;
  width: 30%;
  border-radius: 20px;
  display: flex;
  padding-left: 15px;
  /* padding-right: 5px; */
  padding-top: 20px;
  padding-bottom: 40px;
}

.icon img{
  width: 45px;
}

.inner-child3{
  /* border: 2px solid brown; */
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 65%;
}

.inner-child3-children h2{
  /* border: 2px solid purple; */
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
}

.inner-child3-children p{
  /* border: 2px solid brown; */
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.5;
}

.flex-child3:nth-child(2),
.flex-child3:nth-child(3){
  border: 2px solid #EEEEEE;
  background-color: #EEEEEE;
  width: 30%;
  border-radius: 20px;
  display: flex;
  padding-left: 15px;
  /* padding-right: 5px; */
  padding-top: 20px;
  padding-bottom: 40px;
  color: #000000;
}

.inner-child3-two-column{
  /* border: 2px solid brown; */
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 73%;
}

.inner-child3-children-two-column h2{
  /* border: 2px solid purple; */
  /* color: #FFFFFF; */
  font-size: 20px;
  font-weight: 700;
}

.inner-child3-children-two-column p{
  /* border: 2px solid brown; */
  /* color: #FFFFFF; */
  font-size: 16px;
  line-height: 1.5;
}

.featured{
  margin-top: 80px;
  margin-bottom: 60px;
  border: 2px solid #F0F0F0;
  background-color: #F0F0F0;
  height: 160px;
  margin-right: 90px;
}

.featured h2{
  font-size: 20px;
  font-weight: 700;
  color: #0087db;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.flex-parent4{
  /* border: 2px solid brown; */
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.flex-child4:nth-child(1) img,
.flex-child4:nth-child(2) img,
.flex-child4:nth-child(3) img,
.flex-child4:nth-child(4) img,
.flex-child4:nth-child(5) img,
.flex-child4:nth-child(6) img{
  filter: grayscale(90%) opacity(1);
}

.flex-child4:nth-child(1) img{
  /* border: 2px solid palegreen; */
  width: 150px;
}

.flex-child4:nth-child(2) img{
  width: 150px;
}

.flex-child4:nth-child(3) img{
  /* border: 2px solid yellow; */
  width: 120px;
}

.flex-child4:nth-child(4) img{
  /* border: 2px solid red; */
  width: 130px;
}

.flex-child4:nth-child(5) img{
  width: 120px;
}

.flex-child4:nth-child(6) img{
  width: 130px;
}


.newsletter-parent{
  /* border: 2px solid green; */
  display: flex;
  gap: 80px;
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: 130px;
}

.newsletter-child:nth-child(1) img{
  /* border: 2px solid black; */
  width: 350px;
}

.newsletter-child:nth-child(2){
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
}

.newsletter-innerchild:nth-child(1) h2{
  /* border: 2px solid brown; */
  font-size: 44px;
  font-weight: 700;
  margin-bottom: -25px
}

.newsletter-innerchild:nth-child(2) p{
  /* border: 2px solid pink; */
  font-size: 16px;
}

.newsletter-innerchild:nth-child(3) a{
  background-color: #000000;
  border: 2px solid #000000;
  text-decoration: none;
  color: #ffffff;
  padding: 6px 40px 6px 25px;
  border-radius: 20px;
  position: relative;
}

.news-arrow{
  /* color: yellow; */
  position: absolute;
  top: 10px;
}

.boosther-parent{
  display: flex;
  gap: 250px;
  /* margin-left: 130px; */
  margin-top: 80px;
}

.boosther-child:nth-child(1) img{
  /* border: 2px solid lawngreen; */
  width: 350px;
}

.boosther-child:nth-child(2){
  /* border: 2px solid orangered; */
  width: 42%;
}

.boosther-innerchild:nth-child(1) h2{
  /* border: 2px solid brown; */
  font-size: 44px;
  font-weight: 700;
  /* margin-bottom: -25px */
}

.boosther-innerchild:nth-child(2) p{
  /* border: 2px solid pink; */
  margin-top: 15px;
  margin-bottom: 40px;
}

.boosther-innerchild p > a{
  /* border: 2px solid black; */
  text-decoration: none;
  color: #0187db;
}

.boosther-innerchild p > a:hover{
  color: #333366;
}

.boosther-innerchild:nth-child(3) a{
  /* border: 2px solid goldenrod; */
  text-decoration: none;
  color: #0187db;
  border: 2px solid #000000;
  background-color: #000000;
  border-radius: 20px;
  padding: 6px 37px 6px 25px;
  position: relative;
}

.boosther-arrow{
  /* color: purple; */
  position: absolute;
  top: 10px;
  right: 20px;
}

.boosther-innerchild:nth-child(3) a:hover{
  color: #FFFFFF;
}

.festival-parent{
  /* border: 2px solid green; */
  display: flex;
  gap: 80px;
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: 130px;
  margin-top: 80px;
  margin-bottom: 60px;
}

.festival-child:nth-child(1) img{
  /* border: 2px solid black; */
  width: 350px;
}

.festival-child:nth-child(2){
  /* border: 2px solid blue; */
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 40px; */
  margin-top: 40px;
  width: 46%;
}

.festival-innerchild:nth-child(1) h2{
  /* border: 2px solid brown; */
  font-size: 44px;
  font-weight: 700;
  /* margin-bottom: -25px */
}

.festival-innerchild:nth-child(2) p{
  /* border: 2px solid pink; */
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.festival-innerchild:nth-child(3) a{
  background-color: #000000;
  border: 2px solid #000000;
  text-decoration: none;
  color: #0187db;
  padding: 6px 35px 6px 25px;
  border-radius: 20px;
  position: relative;
}

.festival-arrow{
  position: absolute;
  top: 10px;
}

.festival-innerchild:nth-child(3) a:hover{
  color: #ffffff;
}

.Crystallum{
  margin-bottom: 60px;
}

.happening{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  margin-right: 90px;
  align-items: center;
}

.happening-child:nth-child(1) h2{
  font-size: 44px;
  font-weight: 700;
}

.happening-child:nth-child(2) a{
  border: 2px solid #0087db;
  text-decoration: none;
  background-color: #0087db;
  color: #ffffff;
  border-radius: 20px;
  padding: 8px 40px 8px 25px;
  position: relative;
}

.happening-arrow{
  /* color: brown; */
  position: absolute;
  top: 12px;
}

.happening-child:nth-child(2) a:hover{
  background-color: #ffffff;
  color: #0087db;
}

.happening-image{
  position: absolute;
  top: 12px;
}

.upcoming{
  border: 2px solid #c0e7ff;
  display: inline-block;
  background-color: #c0e7ff;
  color: #0087db;
  border-radius: 20px;
  /* padding: 0px 30px; */
  padding: 0 40px;
  font-size: 14px;
  font-weight: 500;
}

.sla-images{
  margin-top: 30px;
  margin-bottom: 40px;
  display:flex;
  gap: 80px;
  margin-right: 90px;
}

.sla-images-child:nth-child(1){
  /* border: 2px solid purple; */
  width: 50%;
}

.sla-images-child:nth-child(1) a{
  /* border: 2px solid black; */
  color: #0087db;
  font-size: 20px;
  font-weight: 700;
}

.sla-images-child:nth-child(2){
  /* border: 2px solid red; */
  width: 50%;
}

.sla-images-child:nth-child(2) a{
  /* border: 2px solid black; */
  color: #0087db;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 60px;
}

.fourth-section{
  background-image: url(./images/background.jpg);
  /* min-height: 500px; */
}

.fourth{
  text-align: center;
  padding: 80px 0;
}

.fourth:nth-child(1) span{
  font-size: 14px;
  font-weight: 500;
  color: #0087db;
  border: 2px solid #c0e7ff;
  background-color: #c0e7ff;
  border-radius: 20px;
  padding: 0px 20px 0px 20px;
  margin: 20px;
  display: inline-block;
}

.fourth:nth-child(1) h2{
  /* border: 2px solid orange; */
  color: #eeeeee;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
}

.fourth input{
  border: 2px solid #ffffff;
  width: 550px;
  border-radius: 20px;
  padding: 13px 0 13px 10px;
  background-color: transparent;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  position: relative;
}

.fourth input::placeholder{
  color: #ffffff;
}

.fourth button{
  border: 2px solid #589af6;
  background-color: #589af6;
  color: #ffffff;
  border-radius: 30px;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 17px;
  padding-right: 17px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  position: absolute;
  right: 673px;
  margin-top: 1px;
  margin-right: 1px;

}

.fourth button:hover{
  background-color: #efefef;
  color: #444444;
}

footer{
  background-color: #000000;
  min-height: 370px;
}

.footer-parent{
  /* border: 2px solid yellow; */
  display: flex;
  padding: 60px 0;
  color: #FFFFFF;
  gap: 80px;
  margin: 0 50px;
}

.footer-child:nth-child(5){
  /* border: 2px solid palevioletred; */
  width: 15%;
}

.footer-child:nth-child(1) h2{
  /* border: 2px solid orange; */
  font-size: 18px;
  font-weight: 700;
  padding-top: 45px;
  padding-bottom: 20px;
}

.footer-child:nth-child(1) > img{
  /* border: 2px solid #589af6; */
  margin-top: 18px;
}

.logos{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 8px;
}

.logo-child:nth-child(1) img{
  /* border: 2px solid blue; */
  width: 20px;
}

.logo-child:nth-child(2) img{
  /* border: 2px solid salmon; */
  width: 20px;
}

.logo-child:nth-child(3) img{
  /* border: 2px solid seagreen; */
  width: 10px;
}

.logo-child:nth-child(4) img{
  /* border: 2px solid lemonchiffon; */
  width: 15px;
}


.footer-child:nth-child(2) h2,
.footer-child:nth-child(3) h2,
.footer-child:nth-child(4) h2,
.footer-child:nth-child(5) h2{
  /* border: 2px solid yellow; */
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 20px;
  line-height: 1.5;
}

.footer-links{
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
}

.footer-links a{
  text-decoration: none;
  color: #D9D9D9;
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 10px;
}

.email{
  /* border: 2px solid brown; */
  font-size: 14px !important;
  font-weight: 400 !important;
}

.last-paragraph{
  /* border: 2px solid brown; */
  color: #eeeeee;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}